SECRET_KEY=change-me-to-a-long-random-string
DEBUG=True

DB_NAME=yrif_db
DB_USER=yrif_user
DB_PASSWORD=yrif_password
DB_HOST=db
DB_PORT=5432

REDIS_URL=redis://redis:6379/0

# BRIQ Auth & SMS & OTP
BRIQ_API_KEY=
BRIQ_APP_KEY=briq_mkb71g9z39n4frg0
BRIQ_SMS_SENDER=YRIF

# Google OAuth
GOOGLE_CLIENT_ID=

# Supabase Realtime
SUPABASE_URL=
SUPABASE_KEY=

# Sarufi AI
SARUFI_API_KEY=
SARUFI_BOT_ID=

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=noreply@yrif.or.tz

# Production only
ALLOWED_HOSTS=yrif.or.tz,www.yrif.or.tz
CORS_ALLOWED_ORIGINS=https://yrif.or.tz
SENTRY_DSN=
